/* 
* Author: Hasan
* Github: https://github.com/hasanrafi69
* Email: hasanrafi69@gmail.com
* Mobile: +880-161-782323
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}

.btn {
    padding: 5px 2rem;
}

.title {
    padding-bottom: 2rem;
}

.scale {
    transition: transform 1s;
}

.scale:hover {
    transform: scale(1.02)
}


/* ========Nabar======== */

.navbar-brand {
    width: 50px;
}

.logo {
    color: #E02C6D;
    animation-name: logo;
    animation-duration: 5s;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    animation-iteration-count: infinite;
}

@keyframes logo {
    0% {
        color: #0000;
    }
    25% {
        color: rgb(63, 63, 63);
    }
    50% {
        color: rgb(128, 127, 127);
    }
    75% {
        color: rgb(63, 63, 63);
    }
    100% {
        color: #0000;
    }
}


/* ========Slider======== */

.carousel-caption h5 {
    font-size: 48px;
}


/* ========Package======== */

.package .card {
    border: 0;
    box-shadow: 1px 3px 15px #d8cdcd;
    border-radius: 2rem;
}

.package .card-title,
.price {
    font-weight: 600;
}

.package .list-group-item {
    border-bottom: 0;
}

.package .card-body .rounded-pill {
    background: #FDF4FA;
}

.package .fa-check-circle:before {
    background: #EDEBF8;
}

.card-active {
    background: #3F87F5;
    padding: 1.2rem;
    bottom: 2.5rem;
    color: #fff;
    box-shadow: 2px 6px 15px #3f87f5!important;
}

.card-active .list-group-item {
    background: transparent;
    color: #fff;
}

.card-active .fa-check-circle:before {
    background: transparent;
    color: #fff;
}


/* ========Clent======== */

.client .card {
    box-shadow: 2px 3px 19px #c7c5c5;
    border-radius: 8px;
}


/* ========Faq======== */


/* ========Footer======== */

footer {
    background: #0e0e0e;
    padding: 3rem 0 0 0;
}

.footer-left {
    display: grid;
    justify-content: start;
    justify-items: start;
}

.footer-right {
    display: grid;
    justify-content: end;
    justify-items: end;
}

.footer-logo img {
    width: 10%;
}

.footer-nav {
    float: left;
    padding: 5px 0;
}

.app {
    float: right;
}

.app ul li {
    list-style: none;
    text-decoration: none;
    float: left;
}

.app ul li a img {
    width: 110px;
    padding: 2px 2px;
}

.footer-nav ul {
    padding-left: 0;
}

.footer-nav ul li {
    list-style: none;
    float: left;
    padding: 0 5px 0 0;
    border: 1px solid rgba(197, 197, 197, 0.315);
}

.footer-nav ul li a {
    color: #FDF4FA;
    font-size: 12px;
}

.footer-social {
    float: right;
    padding-top: 15px;
}

.social-bottom li {
    list-style: none;
    float: left;
    padding: 0 1px;
    font-size: 12px;
}

.social-bottom li i {
    background: #FDF4FA;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

footer .fab,
footer .fas {
    padding: 15% 22%;
}

.copywright p {
    font-size: 12px;
}


/* Media Query */

@media(max-width: 767px) {
    .footer-right {
        justify-content: start;
        justify-items: start;
    }
    .footer-left {
        padding-left: 30px;
    }
}