/* 
* Author: Hasan
* Github: https://github.com/hasanrafi69
* Email: hasanrafi69@gmail.com
* Mobile: +880-161-782323
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800&display=swap');
* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 16px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    width: 100%;
}


/* ========Nabar======== */


/* ========Slider======== */

.carousel-caption h5 {
    font-size: 48px;
}


/* ========Package======== */

.package .card {
    border: 0;
    box-shadow: 1px 3px 15px #d8cdcd;
    border-radius: 2rem;
}

.package .card-title,
.price {
    font-weight: 600;
}

.package .list-group-item {
    border-bottom: 0;
}

.package .card-body .rounded-pill {
    background: #FDF4FA;
    padding: 5px 2rem;
}

.package .fa-check-circle:before {
    background: #EDEBF8;
}

.card-active {
    background: #3F87F5;
    width: 100%;
    padding: 1.2rem;
    bottom: 2.5rem;
    color: #fff;
}

.card-active .list-group-item {
    background: transparent;
    color: #fff;
}

.card-active .fa-check-circle:before {
    background: transparent;
    color: #fff;
}


/* ========Faw======== */


/* ========Footer======== */

.footer-left {
    display: grid;
    justify-content: start;
    justify-items: start;
}

.footer-right {
    display: grid;
    justify-content: end;
    justify-items: end;
}

.footer-logo img {
    width: 10%;
}

.footer-nav {
    float: left;
    padding: 5px 0;
}

.app {
    float: right;
}

.app ul li {
    list-style: none;
    text-decoration: none;
    float: left;
}

.app ul li a img {
    width: 110px;
    padding: 2px 2px;
}

.footer-nav ul {
    padding-left: 0;
}

.footer-nav ul li {
    list-style: none;
    float: left;
    padding: 0 5px 0 0;
    border: 1px solid rgba(197, 197, 197, 0.315);
}

.footer-social {
    float: right;
    padding-top: 15px;
}

.social-bottom li {
    list-style: none;
    float: left;
    padding: 0 1px;
    font-size: 12px;
}

.social-bottom li i {
    background: #000;
    border-radius: 50%;
    height: 35px;
    width: 35px;
}

.social-bottom>li>.fa-facebook-square {
    color: #4267B2;
    padding: 15% 22%;
}